<object width="932" height="316" align="middle" id="01" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="sameDomain" name="allowScriptAccess">
<param name="movie" value="<{xoAppUrl /modules/spotlight/components/flash3d/xixi.swf}>?info=|_|<{$block.images}>"/>
<param name="quality" value="high">
<param value="#ffffff" name="bgcolor">
<param value="transparent" name="wmode">
<embed src="<{xoAppUrl /modules/spotlight/components/flash3d/xixi.swf}>?info=|_|<{$block.images}>"  width="932" height="316" align="middle" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="sameDomain" name="01" bgcolor="#ffffff" quality="high""></embed>
</object>
