<{$xoTheme->addStylesheet("modules/`$xoops_dirname`/templates/style.css")}>
<div class="breadcrumbs"><{$crumb}></div>
<div id="content_box">
    <div id="notes">
    <div class="content_bar"><h2><{$category}></h2></div>
    <{if $topics}>
        <div class="notelist">
    		<{foreachq item=item from=$topics}>
            <div><span class="fl ele_dot">·</span> <span class="fl"><a href="view.php?id=<{$item.topic_id}>" ><{$item.subject}></a></span> <span class="fr"><{$item.topic_date}></span></div>
    		<{/foreach}>
        </div>
    <{else}>
    	<div class="notelist"><{$smarty.const._MA_PRESS_NO_NEWS}></div>
    <{/if}>
    
    <{if $pagenav}><{$pagenav}><{/if}>
    </div>
</div>