<{$xoTheme->addStylesheet("modules/links/templates/style.css")}>

<{if $application}><div><a href="join.php"><{$smarty.const._MD_LINKS_APPLYJOIN}></a></div> <{/if}>
<{foreach item=category from=$categories}>
<div>
    <h2><{$category.cat_name}></h2>
    <div>
        <{foreach item=link from=$category.links}>
            <span id="LinkBlockHorizontalLogo"><a href='<{$xoops_url}>/modules/links/redirect.php?url=<{$link.link_url}>'><img src="<{$link.link_logo}>" alt="<{$link.link_title}>" width="88" height="31"></a></span>
        <{/foreach}>
    </div>
</div>
<{/foreach}>
