<{$xoTheme->addStylesheet("modules/`$xoops_dirname`/templates/style.css")}>
<div class="breadcrumbs"><{$crumb}></div>
<div id="content_box">
<div id="notes">
    <div id="topicList">
    <{if $topics}>
    <{foreachq item=item key=key from=$topics}>
    <div class="content_bar"><h3 class='fl'><{$item.category}></h3><span class='fr'><a href="category.php?id=<{$key}>" style="list-style:none;">更多</a></span></div>
        <div class="notelist">
    		<{foreachq item=article from=$item.contents}>
            <div class="clear"><span class="fl ele_dot">·</span> <span class="fl"><a href="view.php?id=<{$article.topic_id}>" ><{$article.subject}></a></span><span class="fr"><{$article.topic_date}></span></div>
    		<{/foreach}>
        </div>
    <{/foreach}>
    <{else}>
    	<div class="notelist"><{$smarty.const._MA_PRESS_NO_NEWS}></div>
    <{/if}>
    </div>
    <br style="clear:both;" />
</div>
</div>
