<a href="edit.php"><{$smarty.const._ADD}><{$smarty.const._AM_PRESS_NEWS}></a>
<br /><br />
<form name="topiclistfrm" action="" id="topiclistfrm" method="post">
<table width="100%" class="outer">
	<tr>

		<th width="10%"><{$smarty.const._AM_PRESS_CATEGORIES}></th>
		<th width="55%"><{$smarty.const._AM_PRESS_SUBJECT}></th>

		<th width="12%"><{$smarty.const._AM_PRESS_DATE}></th>
		<th width="10%"><{$smarty.const._AM_PRESS_ACTION}></th>
	</tr>
	<{if $topic_datas}>
	<{foreachq item=item from=$topic_datas}>
	<tr class="<{cycle values='odd, even'}>">

		<td><{if $item.cat_id}><a href="index.php?cat_id=<{$item.cat_id}>"><{$item.cat_name}></a><{else}><{$item.cat_name}><{/if}></td>
		<td><a href="<{$xoops_url}>/modules/press/view.php?id=<{$item.topic_id}>"><{$item.subject}></a></td>

		<td><{$item.topic_date}></td>
		<td align=center> 
			<a href="edit.php?op=edit&amp;topic_id=<{$item.topic_id}>"><{$smarty.const._EDIT}></a> | 
			<a href="edit.php?op=delete&amp;topic_id=<{$item.topic_id}>"><{$smarty.const._DELETE}></a>
		</td>
	</tr>
	<{/foreach}>
	<{/if}>
</table>
</form>
<{if $pagenav}><div class="pagenav"><{$pagenav}></div><{/if}>