#press #notes {
    padding:10px;
}
div.mnavbox {
	margin:10px 0;
  padding:0 0 10px 0;
  border-bottom:2px solid #F0F0F0;
}
div#notes .notes-content {

}
div#notes .nav {
	padding: 5px;
}

div#notes .notelist {
	padding: 10px;
    

}
div#notes .notelist div{
    padding: 0;
    margin: 0;
    height:24px;
    font-size:14px;
    line-height:24px;
    
}
.ele_dot {
    font-family: "宋体";
    color: #999;
}
div#notes .notelist div span.fr {
    float:right;
    font-family: Georgia, "Times New Roman", Times, serif;
    color:#999;
    font-size: 12px;
}
div#notes .notelist a{
	text-decoration:none;
	list-style:none;
}
div#notes .notelist a:hover {
    text-decoration:none;
  	list-style:none;
}
div#notes .notelist h4 {
	height: 25px;
	line-height: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#069;
}
div#notes .notelist h4.reply{
	font-size:12px;
	}
div#notes .notelist h4 a{
	color:#069;
}
div#notes .meta {
	display: block;
	padding: 0 3px;
	height: 20px;
	line-height: 20px;
	color:#999;
	font-size:12px;
	text-align: center;
}
div#notes .notelist span.meta em {
	float: right;
	font-style: normal;
}
div#notes .notelist p {
	line-height: 18px;
	padding: 5px 0;
}
div#notes .notelist div.user {
	float: left;
	display: inline;
	margin: 5px 10px 5px 0;
}
div#notes .notelist .text {
	line-height: 22px;
	padding: 5px;
}
#press #content h2 {
    padding: 0 0 5px;
}
#topicList {
    
}
#contactInfo {
    float:right;
    width:260px;
} 
div.content_bar {
    border-bottom: 1px solid #F0F0F0;
    
    padding:0;
    height: 36px;
    line-height: 36px;
}
div.content_bar h3 {
    margin:4px 0;
    
}
div#notes h1 {
    text-align: center;
}
.fl{
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}