<{* basic information of module about spotlight *}>
<fieldset><legend style="font-weight:bold; color:#990000;"><{$smarty.const._AM_SPOTLIGHT_HOME_BASICS}></legend>
<table>
    <tr>
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_MODULE_DIRECTORY_NAME}>:<{$smarty.const._AM_SPOTLIGHT_FOCUS_MODULE}>(spotlight)</td>
    </tr>
    <tr>
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_MODULE_VERSION}>：1.1 beta</td>
    </tr>
    <tr>
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_MODULE_DEVELOPER}>： Magic.Shao, ezsky</td>
    </tr>
    <tr> 
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_MODULE_DEVELOPMENT_OFFICIAL_SITE}>：http://www.xoops.org.cn</td>
    </tr>
    <tr>
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_MODULE_APPLICATION}>：<{$smarty.const._AM_SPOTLIGHT_FOCUS_MANDGEMENT}></td>
    </tr>
</table>                                                           
</fieldset>

<fieldset><legend style="font-weight:bold; color:#990000;"><{$smarty.const._AM_SPOTLIGHT_HOME_MODULE_PARAMATER}></legend>
<table class="AdminHomePage">
    <tr>
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_CATEGORY_TOTAL}>：<span><{$count.spotligt}></span></td>
    </tr>
    <tr>
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_ARTICLE_NUMBER}>：<span><{$count.page}></span></td>
    </tr>
    <tr>
        <td><{$smarty.const._AM_SPOTLIGHT_HOME_COMPONENT_TOTAL}>：<span><{$count.components}></span></td>
    </tr>
    
     <{*<tr>
       <td><a href="#"><{$smarty.const._AM_SPOTLIGHT_HOME_RESET_THUMBNAIL}>《</a></td>
    </tr>*}>
</table>
</fieldset>

<{*  changelog *}>
<fieldset><legend style="font-weight:bold; color:#990000;"><{$smarty.const._AM_SPOTLIGHT_HOME_UPDATE_RECORDS}></legend>
<h2><{$smarty.const._AM_SPOTLIGHT_FOCUS_MODULE}>1.0 beta > <{$smarty.const._AM_SPOTLIGHT_FOCUS_MODULE}>1.1 beta</h2>
<ul>
    <li><{$smarty.const._AM_SPOTLIGHT_HOME_EDITING_AND_NAME_REPEAT}></li>
</ul>
<h3><{$smarty.const._AM_SPOTLIGHT_HOME_FOCUS_MODULE_1}></h3><em><{$smarty.const._AM_SPOTLIGHT_HOME_ADDED_FUNCTIONALITY}>）</em>
<ul>
    <li>1 <{$smarty.const._AM_SPOTLIGHT_HOME_COMPONENT_FUNCTION}></li>
    <li>2 <{$smarty.const._AM_SPOTLIGHT_HOME_AUTO_SELECT_FUNCTION}></li>
</ul>
<h3><{$smaert.const._AM_SPOTLIGHT_HOME_FOCUS_MODULE_1.5_ALPHA}></h3>
<ul>
    <li>1 <{$smarty.const._AM_SPOTLIGHT_HOME_REPAIR_TABLE}></li>
    <li>2 <{$smarty.const._AM_SPOTLIGHT_HOME_CODE_REFAAORING}></li>
</ul>
<h3><{$smarty.const._AM_SPOTLIGHT_FOCUS_MODULE}>1.0 beta</h3>
<ul>
    <li>1 <{$smarty.const._AM_SPOTLIGHT_HOME_GROUP_FUNCTIONS}></li>
    <li>2 <{$smarty.const._AM_SPOTLIGHT_HOME_UPLOAD_NEWS_IMAGES}><{$smarty.const._AM_SPOTLIGHT_HOME_MEDIUM_THUMBNAIL_AND_THUMBNAIL_FUNCTIONS}></li>
    <li>3 <{$smarty.const._AM_SPOTLIGHT_HOME_NEWS_SORTING}>
</ul>
</fieldset>
