<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/<{$xoops_dirname}>/templates/style.css" />

<h1>手動發送電子報設定</h1>

<a href="admin.manual.php?op=edit">編輯</a>&nbsp;&nbsp;

<{if $model}>
    <ul class="newsletter-admin-list">
        <li>電子報發送狀態:  <span><{if $model.status}>啟用<{else}>關閉<{/if}></span></li>
        <li>電子報發送的時間:  <span><{$model.time_difference}></span></li>
        <li>電子報表頭圖片: <br /><{if $model.header_img}><img src="<{$xoops_url}>/uploads/newsletter/thumb_<{$model.header_img}>"><{/if}></li>
        <li>電子報表頭內容: <br /><{$model.header_desc}></li>
        <li>電子報頁尾內容: <br /><{$model.footer_desc}></li>
    </ul>
<{/if}>
