<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/<{$xoops_dirname}>/templates/style.css" />

<div class="action-span"><a href="admin.case.php?op=new">添加案例</a></div>
<br style="clear: both;"/>

<form id="form" name="form" method="post" action="admin.case.php">

    <table class="outer" align="left"> 
        <th align="center">排序</th>
        <th align="center">案例名称</th>
        <th align="center">所属服务</th>
        <th align="center">显示状态</th>
        <th align="center">案例模板</th>
        <th align="center">操作</th>
        <{foreach item=case from=$cases}>
        <tr class="<{cycle values='odd, even'}>" align="center">
            <td><input name="case_weight[<{$case.case_id}>]" type="text" id="<{$case.case_id}>" value="<{$case.case_weight}>" size="1" maxlength="4" /></td>
            <td width="40%"><{$case.case_menu_title}></td>
            <td width="15%"><{$case.service}></td>
            <td width="15%"><img src="<{$xoops_url}>/modules/portfolio/images/<{if $case.case_status}>yes<{else}>no<{/if}>.png"></td>   
            <td width="15%"><{$case.case_tpl}></td>        
            <td width="15%" align="center">
                <a href="admin.case.php?op=edit&amp;case_id=<{$case.case_id}>">编辑</a> |
              	<a href="action.case.php?ac=delete&amp;case_id=<{$case.case_id}>">移除</a>
            </td>
        </tr>
        <{/foreach}>
        <tr>
            <td colspan="5"><input type="submit" name="button" id="button" value="<{$smarty.const._SUBMIT}>"></td>
        </tr>       
    </table>
</form>
