<{if $attachment_list}>
<table class="outer">
    <tr class="head">
        <td colspan="5">附件</td>
    </tr>
    <{foreachq item=item from=$attachment_list}>
    <tr class="<{cycle values='odd, even'}>">
        <td><{$item.att_filename}></td>
        <td><{$item.att_size}></td>
        <td><{$item.att_dateline}></td>
        <td><{$item.att_downloads}></td>
        <td><a href="downloads.php?id=<{$item.att_id}>">下载</a> | <a href="action.del.php?op=attachment&amp;id=<{$item.att_id}>">删除</a></td>
    </tr>
    <{/foreach}>
</table>
    <div class="head"><a href="downloads.php?ac=all&amp;id=<{$item.resources_id}>">全部下载</a></div>
<{/if}>
<form name="<{$form.name}>" id="<{$form.name}>" action="<{$form.action}>" method="<{$form.method}>" <{$form.extra}>>
<table class="outer" width="100%">
	<tr class="head">
		<th colspan="2">增加/修改资源</th>
	</tr>
	<{foreachq item=item from=$form.elements}>
	<{if !$item.hidden}>
	<tr>
		<td class="even"><{$item.caption}><{if $item.required}><em>*</em><{/if}></td>
		<td class="odd"><{$item.body}></td>
	</tr>
	<{else}>
	<{$item.body}>
	<{/if}>
	<{/foreach}>
</table>
</form>