<div class="mnavbox">
    <div class="mnav"><a href="<{$xoops_url}>">首页</a> &gt;&gt; <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/">下载</a></div>
    <{if $xoops_userid AND $useruploads}>
    <div style="height: 40px;"><span class="button"><a href="post.php">Post</a></span></div>
    <{/if}>
</div>

<div id="resources" style="padding: 10px;">
    <{foreachq item=item from=$resources_list}>
    <h2><a href="detail.php?resources_id=<{$item.resources_id}>"><{$item.resources_subject}></a></h2>
    
    <div style="padding: 3px; line-height: 20px;"><{$item.resources_content}></div>
    <div style="padding: 3px 5px; background-color: #eee; margin-bottom: 10px;">分类: <a href="index.php?cat_id=<{$item.cat_id}>"><{$item.cat_name}></a> 时间: <{$item.resources_dateline}> 附件: <{$item.resources_attachment}></div>
    <{/foreach}>
    
    <div class="pagenav"><{$pagenav}></div>
</div>