<div class="head">
<form name="<{$form.name}>" id="<{$form.name}>" action="<{$form.action}>" method="<{$form.method}>" <{$form.extra}> >
	<{foreachq item=item from=$form.elements}>
	<{$item.caption}><{$item.body}>
	<{/foreach}>
</form>
</div>
<table>
	<tr class="head">
		<th>分类</th>
		<th></th>
	</tr>
	<{foreachq item=item from=$cat_list}>
	<tr class="<{cycle values='odd, even'}>">
		<td><a href="index.php?cat_id=<{$item.cat_id}>"><{$item.cat_name}></a></td>
		<td><a href="category.php?cat_id=<{$item.cat_id}>">修改</a> | <a href="category.php?op=delete&amp;cat_id=<{$item.cat_id}>">删除</a></td>
	</tr>
	<{/foreach}>
</table>