<table class="userbox" width="100%">
    <tr>
        <td valign="top">
            <div id="resources" style="padding: 10px;">
                <{includeq file="db:resources_header.html"}>
                
                <{if $clipboard_list}>
                    <table class="tbox">
                        <tr>
                            <th colspan="5">My Clipboard List</th>
                        </tr>
                        <{foreachq item=item from=$clipboard_list}>
                        <tr>
                            <td><a href="detail.php?resources_id=<{$item.resources_id}>"><{$item.resources_subject}></a></td>
                            <td><a href="action.php?op=clipboarddel&amp;clipboard_id=<{$item.clipboard_id}>">删除</a></td>
                        </tr>
                        <{/foreach}>
                    </table>
                    <{if $pagenav}><div class="pagenav"><{$pagenav}></div><{/if}>
                <{/if}>
                
            </div>
            
          </td>
        
        <td valign="top" class="userboxright">
            <{includeq file="xotpl:theme-usernav.xotpl"}>
        </td>
    </tr>
</table>