
body { font-family: Tahoma, taipei; color;  background-color: #000000}
a { font-family: Tahoma, taipei; font-size: 11px; text-decoration: none; color: #cccccc; font-style: normal}
a:hover { text-decoration: none;  font-family: Tahoma, taipei; font-size: 11px; color: #cccccc; font-style: normal}
td {  font-family: Tahoma, taipei; color: #cccccc; font-size: 11px;}
input { background-color : transparent; color : #000000; font-family : Tahoma, taipei, Verdana, Arial, Helvetica, sans-serif; font-size : 11px; font-weight : normal;border-color : #ffffff;}
textarea {font-family: Tahoma, taipei, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;background-color : transparent; font-weight : bold;}
select {font-family: Tahoma, taipei, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;font-weight : bold;background-color:#cccccc; } 
img { border: 0px none;}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: disc inside;}



td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}
div#lefttop {background-image:url('left_top.jpg'); width:509px; height:187px; position:fixed; left:300px; top:5px; border-collapse: collapse}
div#righttop {background-image:url('right_top.jpg'); width:191px; height:187px; position:fixed; left:809px; top:5px; border-collapse: collapse}
td#leftside {text-transform: capitalize; text-decoration: none; color: #D1E3F1; font-weight: bold; font-size: 13px;}
div#rightside {background-image:url('right_side.jpg'); width:191px; height:33px; position:fixed; left:809px; top:192px; background-repeat: repeat-y; border-collapse: collapse}
div#middle {background-image:url('mid.jpg');  background-repeat: repeat; width:128px; height:33px; position:fixed; left:340px; top:192px; border-collapse: collapse}

td#namex {text-transform: capitalize; text-decoration: none; color: #9a9a9a; font-weight: bold; font-size: 28px; text-indent: 34px;}
td#foot {text-decoration: none; color: #9a9a9a; font-weight: normal; font-size: 11px; text-indent: 12px;}


td#usermenu a {width: 156px; display: block; margin-bottom: 4px; padding: 9px; font-size:11px; color: #f7f7f7; font-weight: bold; text-indent: 3px; text-decoration: none; background-image:url('images/button_up.png'); background-repeat: no-repeat}
td#usermenu a:hover {color:#000000; text-indent: 3px; text-decoration: none; background-image:url('images/button_down.png'); background-repeat: no-repeat}
td#usermenu a.menuTop {}

td#mainmenu a {width: 156px; display: block; margin-bottom: 4px; padding: 9px; font-size:11px; color: #f7f7f7; font-weight: bold; text-indent: 4px; text-decoration: none; background-image:url('images/button_up.png'); background-repeat: no-repeat}
td#mainmenu a:hover {color:#000000; text-indent: 4px; text-decoration: none; background-image:url('images/button_down.png'); background-repeat: no-repeat}
td#mainmenu a.menuTop {}

.blockTitle {text-transform: capitalize; text-decoration: none; color: #ff6600; font-weight: bold; font-size: 17px; text-indent: 23px; text-align: left; padding: 5;}
.blockContent {text-decoration: none; color: #e4e4e4; font-size: 11px; text-indent: 10px; padding: 5;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #333333; font-weight:bold; border: 1px solid #cccccc; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #333333; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0px none;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}

.item {border: 0px;}
.itemHead {color: #ffffff; padding: 2px; font-weight: bold; text-align: left;}
.itemInfo {text-align: left; padding: 3px; font-size: 12px; font-weight: normal; color: #cccccc; text-decoration: none; background-color: transparent;}
.itemTitle a {font-size: 15px; text-transform: capitalize; font-weight: bold; font-variant: small-caps; color: #ff6600; background-color: transparent; text-decoration: none;}
.itemPoster {font-size: 11px; font-style:italic; color: #cccccc; text-decoration: none;}
.itemPostDate {font-size: 11px; font-style:italic; color: #cccccc; text-decoration: none;}
.itemStats {font-size: 11px; font-style:italic; color: #cccccc; text-decoration: none;}
.itemBody {padding-left: 6px; text-align: left; font-size: 12px; font-weight: normal; color: #cccccc; text-decoration: none;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; color: #cccccc; text-decoration: none;}
.itemAdminLink {font-size: 90%; color: #cccccc; text-decoration: none;}
.itemPermaLink {font-size: 90%; color: #cccccc; text-decoration: none;}