<ul>
    <{foreach item=case from=$block.cases}>
        <li>
            <a href="<{$xoops_url}>/modules/portfolio/case.php?case_id=<{$case.case_id}>"><{$case.case_menu_title}></a>
            <{if $block.is_summary}> <{$case.case_summary}><{/if}>
            <{if $block.is_desc}> <{$case.case_description}><{/if}>
            <{if $block.is_image}>  <img src="<{$xoops_url}>/uploads/portfolio/<{$case.case_image}>" width="100" /><{/if}>
            <{if $block.is_gallery}> 
            <{foreach item=gallery from=$case.gallery}>
                <div><img src="<{$xoops_url}>/uploads/portfolio/gallery/thumb_<{$gallery.image_file}>" width="50" />
                <br /><span><{$gallery.image_title}></span>
                <br /><span><{$gallery.image_desc}></span>
                </div>
            <{/foreach}>
            <{/if}>
            <hr />
        </li>    
    <{/foreach}>
</ul>
