#support_index_crumb{
	padding:5px 0;
}
.support_search input {
	font-size: 12px;
}
#support-info{
  list-style: none;
}
#support-info-table{
	margin-top: 10px;
}
#support-info-sub{
	margin-top: 10px;
}
