<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/<{$xoops_dirname}>/templates/style.css" />
<{include file="db:support_manager.html"}>
<div class="action-span"><a href="category.php?op=new"><{$smarty.const._MA_SUPPORT_ADDCAT}></a></div>
<br style="clear: both;" />

<form id="form" name="form" method="post" action="category.php">
    <table class="outer" align="left"> 
        <th align="center"><{$smarty.const._MA_SUPPORT_WEIGHT}></th>
        <th align="center"><{$smarty.const._MA_SUPPORT_CATNAME}></th>
        <th align="center"><{$smarty.const._MA_SUPPORT_CURRENTSTATUS}></th>
        <th align="center"><{$smarty.const._MA_SUPPORT_ACTIVE}></th>
        <{foreach item=category from=$categories}>
        <tr class="<{cycle values='odd, even'}>" align="center">
            <td width="10%"><input name="cat_weight[<{$category.cat_id}>]" type="text" id="<{$category.cat_id}>" value="<{$category.cat_weight}>" size="1" maxlength="4" /></td>
            <td width="60%"><{$category.cat_name}></td>
            <td width="15%"><img src="<{$xoops_url}>/modules/support/images/<{if $category.cat_status}>yes<{else}>no<{/if}>.png"></td>  
            <td width="15%" align="center">
                <a href="category.php?op=edit&amp;cat_id=<{$category.cat_id}>"><{$smarty.const._MA_SUPPORT_EDIT}></a>
              	<!-- |<a href="category.php?ac=delete&amp;cat_id=<{$category.cat_id}>">移除</a>-->
            </td>
        </tr>
        <{/foreach}>
        <tr>
            <td colspan="4"><input type="submit" name="button" id="button" value="<{$smarty.const._SUBMIT}>"></td>
        </tr>       
    </table>
</form>
