<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/<{$xoops_dirname}>/templates/style.css" />

<div class="action-span"><a href="admin.category.php?op=new">加入分類</a></div>
<br style="clear: both;"/>

<form id="form" name="form" method="post" action="admin.category.php">
    <table class="outer" align="left"> 
        <th align="center">排序</th>
        <th align="center">分類名稱</th>
        <th align="center">目前狀態</th>
        <th align="center">動作</th>
        <{foreach item=category from=$categories}>
        <tr class="<{cycle values='odd, even'}>" align="center">
            <td width="10%"><input name="cat_weight[<{$category.cat_id}>]" type="text" id="<{$category.cat_id}>" value="<{$category.cat_weight}>" size="1" maxlength="4" /></td>
            <td width="60%"><{$category.cat_name}></td>
            <td width="15%"><img src="<{$xoops_url}>/modules/support/images/<{if $category.cat_status}>yes<{else}>no<{/if}>.png"></td>  
            <td width="15%" align="center">
                <a href="admin.category.php?op=edit&amp;cat_id=<{$category.cat_id}>">編輯</a> |
              	<a href="action.category.php?ac=delete&amp;cat_id=<{$category.cat_id}>">移除</a>
            </td>
        </tr>
        <{/foreach}>
        <tr>
            <td colspan="4"><input type="submit" name="button" id="button" value="<{$smarty.const._SUBMIT}>"></td>
        </tr>       
    </table>
</form>