<div id="content_box">
<{if $service_id}>
    <ul style="float:left">
        <{foreach item=items from=$service_menu}>
        <li class="child"><a <{if $service.service_id eq $items.service_id}>class="current"<{/if}> href="index.php?service_id=<{$items.service_id}>"><{$items.service_menu_name}></a></li>
        <{if $items.child}>
            <{assign var="children" value=$items.child}>
            <{include file="db:portfolio_menu.html"}>
        <{/if}>
        <{/foreach}>
    </ul>
     
    <{if $case_menu}>
        <ul style="float:left;margin-left:20px;">
            <{foreach item=item from=$case_menu}>
            <li class="child"><a <{if $case.case_id eq $item.case_id}>class="current"<{/if}> href="case.php?service_id=<{$service_id}>&amp;case_id=<{$item.case_id}>" target="_blank"><{$item.case_menu_title}></a></li>
            <{/foreach}>
        </ul>
    <{/if}>        
<{else}>  
    <ul>
        <{foreach item=item from=$service_menu}>
        <li class="child"><a <{if $service.service_id eq $item.service_id}>class="current"<{/if}> href="index.php?service_id=<{$item.service_id}>"><{$item.service_menu_name}></a></li>
        <{if $item.child}>
            <{assign var="children" value=$item.child}>
            <{include file="db:portfolio_menu.html"}>
        <{/if}>
        <{/foreach}>
    </ul>
<{/if}>    
</div>
