body {color:#9C83EA;margin: 0px; padding: 0px;background-color:#F0EAFE;}
body td, p, div {font-family: verdana, arial, helvetica; font-size: 11px;color: #9973E3;}

table {width: 100%; margin: 0px; padding: 0px;  }
table td {padding: 0px; border-width: 0px; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif;  }

a:link    {color:#9973E3; text-decoration: none}
a:active {color: #9973E3; text-decoration: none}
a:visited {color: #9973E3; text-decoration: none}
a:hover  {color: #9973E3; text-decoration: underline}
fieldset {
	border: 0px solid #000;
}
input { background-color: #D7CAFB; 
border-color: #CBCBCB; 
color: #9973E3; 
font-family: verdana,  arial, ms sans serif;  
font-size: 10pt;}
td#logo {
	background-image: url(images/logo.gif);
	background-repeat: no-repeat;
	width:770px;
	height:469px;
	
}
div#container {
   width:770px;
	background-image: url(images/bg.gif);
}
table#ct{
	width:770px; text-align:left;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #9973E3;
}
.item {}
.itemHead {   color: #9C83EA;  background-image: url(images/head.jpg);   text-align:center;  font-variant: small-caps;  background-position: left;   height:30px;    }
.itemInfo {text-align: center;color:#9973E3;}
.itemTitle a {font-weight: bold;  background-color: transparent;  text-align: center;  }
.itemPoster {font-size: 90%; }
.itemPostDate {font-size: 90%;}
.itemStats {font-size: 90%;}
.itemBody { }
.itemText {margin-top: 0px; margin-bottom: 0px; line-height: 1.5em; color:#9973E3;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: left; padding:3px;color:#9973E3;}
.itemAdminLink {font-size: 90%;color:#9973E3;}
.itemPermaLink {font-size: 90%; font-style:italic;color:#9973E3;}
.itemHead a {
	color:#9C83EA;
}
.itemHead a:hover {
	color:#9C83EA;
	text-decoration: none;
}
table#top {margin-bottom:8px;}
th { padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#leftcolumn {width: 220px; font-size:12px;  padding: 2px 20px 0px 0px; }
td#leftcolumn th {
	vertical-align: middle;}
td#leftcolumn .blockTitle {padding: 0px 0px 0px 0px; color: #9C83EA; font-weight:bold;   font-variant: small-caps;  background-image: url(images/navhead.jpg);  text-align:center;  background-position: left; height:30px; width:220px; }
td#leftcolumn .blockContent {padding: 3px;  line-height: 120%;margin-bottom:8px;width:200px;  border:0px;  color: #9973E3; }

td#centercolumn {font-size: 10px;     width:465px;  line-height: 1.5em;  text-align: center;  padding-bottom: 0px;  padding-left: 10px;  padding-right: 15px;  padding-top: 0px;      }

td#centercolumn th {  vertical-align: middle; }
td#centerCcolumn {padding: 0px 3px 1px 8px;   padding-top : 0px;width:465px;  }
td#centerCcolumn .blockTitle { color: #9C83EA;  background-image: url(images/head.jpg);   text-align:center;  font-variant: small-caps;  background-position: left;   height:30px;  font-weight:bold;}
td#centerCcolumn div.blockContent {padding: 0px; margin-right: 0px;  margin-left: 0px; margin-bottom: 0px;color:#9973E3;text-align:left;width:470px;}

td#centerLcolumn {width: 50%; padding: 3px 3px 3px 3px;text-align: left; }
td#centerLcolumn .blockTitle {padding: 0px 0px 0px 0px; color: #9C83EA; font-weight:bold;   font-variant: small-caps;  background-image: url(images/navhead.jpg);  text-align:center;  background-position: left; height:30px; width:225px;}
td#centerLcolumn div.blockContent {padding: 3px; text-align: left;color:#9973E3;}

td#centerRcolumn {width: 50%; padding: 3px 3px 3px 3px;text-align: left;}
td#centerRcolumn .blockTitle {padding: 0px 0px 0px 0px; color: #9C83EA; font-weight:bold;   font-variant: small-caps;  background-image: url(images/navhead.jpg);  text-align:center;  background-position: left; height:30px; width:225px;}
td#centerRcolumn div.blockContent {padding: 3px 3px 0px 0px;   text-align: left; color:#9973E3; }

div#content { text-align: left; padding: 2px 10px 1px 10px; width:465px;  overflow: auto;}
div#content input {background-color: #D7CAFB; 
border-color: #CBCBCB; 
color: #9973E3; 
font-family: verdana,  arial, ms sans serif;  
font-size: 10pt;

}

div#content textarea {
	
}
td#rightcolumn {width: 220px; font-size:12px;  padding: 2px 20px 0px 0px;}
td#rightcolumn th {color: #9973E3; vertical-align: middle;}
td#rightcolumn .blockTitle {padding: 0px 0px 0px 0px; color: #9C83EA; font-weight:bold;   font-variant: small-caps;  background-image: url(images/navhead.jpg);  text-align:center;  background-position: left; height:30px; width:220px;   }
td#rightcolumn .blockContent {padding: 3px;  line-height: 120%;margin-bottom:8px;width:200px;  border:0px;  color: #9973E3; }


td#mainmenu a {display: block; margin: 0; padding: 4px;}
td#mainmenu a:hover {background-color:#FFFFFF;  text-decoration: none; }
td#mainmenu a.menuTop {padding-left: 3px;}
td#mainmenu a.menuMain {padding-left: 3px;}
td#mainmenu a.menuSub {padding-left: 9px; }

td#usermenu a {display: block; margin: 0; padding: 4px;}
td#usermenu a:hover { background-color:#FFFFFF; text-decoration: none;}
td#usermenu a.menuTop {}



.outer {border: 1px solid #9973E3;}
.head { padding: 5px; font-weight: bold;  background : none; border: 1px solid #9973E3;}
.even {padding: 5px;  border: 1px solid #9973E3; }
.odd { padding: 5px;border: 1px solid #9973E3;}
.foot {padding: 3px; font-weight: bold; border: 1px solid #9973E3;}
tr.even td {padding: 5px;}
tr.odd td { padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #F5F1E6; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #F5F1E6; font-family: Verdana, Arial, Helvetica, sans-serif; color: #8E292D; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #9973E3; font-weight:bold; border: 1px solid #9973E3; background-color: #D7CAFB; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #9973E3; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}
#footer {  background-image: url(images/footer.gif);  text-align: center;height:64px; }
#footer td {text-align:center;}
/* Used mainly for Shoutbox module*/
.sideboxcontent{
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:link {
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:active {
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:hover {
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:visited {
	color:#FFFFFF;
	font-size: 10px;
}