
/* ------------ background ------------ */
.usual {
	background-color: #FFF;
	background-image: url();
	}
div.page {
	width:100%;
	margin:0;
	padding:0;
	}
#page_mdl {
	background:url() ;
}
#page_head {
	background:url() ;
}
#page_btm {
	background:url() ;
}
#page_base {
	width:auto;
	margin:0;
	padding:0;
}
/* ------------ Header elements ------------ */

#header {
	display:none;
}

/* ------------ Content Area ------------ */
.centercolumn {
	float:none;
	width:100%;
}
		#cc_mdl {
			color:inherit;
			background:#FFF url();
		}
		#cc_head {
			background:url() ;
		}
		#cc_btm {
			background:url();
		}
		#cc_base {
			width:auto;
			margin:0;
			padding:0;
		}
#page_top {
	display:none;
}
#side_area {
	display:none;
}
#footer {
	display:none;
}

